<div class="description">
  <h1>お気に入り一覧</h1>
</div>

<% if @favorite_blogs.present? %>
  <div>
    <% @favorite_blogs.each do |t| %>
      <p>名前：<%= t.user.name %>さん</p>
      <p>タイトル：<%= t.title %></p>
      <p>内容：<%= t.content %></p>
    <% end %>
  </div>
<% end %>
