body {
  color: #333;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 25px;
}

div.description {
  margin-top: 160px;
}

h1 {
  margin-top: 2vw;
}

div.container-fluid {


}
